.more-screen {
  margin-top: 35px;
}
.more-suggestions {
  margin-top: 50px;
  padding: 40px;
}

.more-suggestions__title {
  padding: 10px;
  margin-bottom: 30px;
  font-weight: 500;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.more-suggestions__icon {
  display: flex;
}

.more-suggestions__icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 36px;
}

.more-suggestions__icon-text {
  display: flex;
  font-weight: 500;
}
